<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'xcompare/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'xcompare/css/styles.css' %}">        
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        
        {% block content %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

        {% block js %}
        {% endblock %}
    </body>
</html>